.dashboard-title {
  font-size: calc(0.800rem + 0.9vw);
  font-weight: 500;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
  color: #2A4AFB;
}

.top-dasboard {
  display: flex;
  align-items: center;
  background-color:#2A4AFB;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height:80px;
}

.call {
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: #2A4AFB;
}

.card-dashboard {
  overflow: hidden;
  background: #F7F7FF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  border: 2px solid #2A4AFB;
  height: 70px;
}

.card-dashboard img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 40px;
}

.card-dashboard-wait {

  padding-left: 15px;

  img {
  margin-top: 5px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 40px;
  }
}

.scroll {
  padding-bottom: 50px;
  padding-top: 50px;
}

.logo-dashboard {
  width: 80px;
  border-radius: 50%;
  margin: 8px;
  border: 2px solid #1E2CFB;
}

.ligne {
  width: 100%;
  border-bottom: 1px solid #2A4AFB;
}

.question-dash {
  font-style: italic;
  font-size: 14px;
  padding-left: 5px;
    color: #9da3fe;
}
