.dashboard-title {
  font-size: 17px;
  font-weight: 500;
  color: #2A4AFB;
  margin-bottom: 12px;
}

.question-dash {
  font-style: italic;
  font-size: 14px;
  color: #9da3fe;
  margin-bottom: 0;
}

.top-dasboard {
  display: flex;
  align-items: center;
  background-color:#2A4AFB;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height:80px;
}

.call {
  font-size: 15px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: #2A4AFB;
}

.card-dashboard {
  overflow: hidden;
  background: transparent;
  // box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  border: 2px solid #2A4AFB;
  height: 9vh;
}

.card-dashboard img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 15px;
}

.card-dashboard-wait {

  img {
  margin-top: 5px;
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 40px;
  }
}

// .scroll {
//   // padding-bottom: 50px;
//   // padding-top: 50px;
// }

.logo-dashboard {
  width: 80px;
  border-radius: 50%;
  margin: 8px;
  border: 2px solid #1E2CFB;
}

.ligne {
  width: 100%;
  border-bottom: 1px solid #2A4AFB;
}

.question-dash {
  font-style: italic;
  font-size: 14px;
  padding-left: 5px;
    color: #9da3fe;
}

.modal-header {
  margin-left: 29px;
  color: #2A4AFB;
}

