// Specific CSS for your home-page
 .hello-title {
   color: #1E2CFB;
   font-size: 45px;
   margin-left: 2vh;
  //  font-family: ;
 }

 .h2-home-page {
   color: whitesmoke;
   font-size: 45px;
   margin-left: 1vh;
 }
