// Specific CSS for your home-page
body {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
 }

 .hello-title {
   color: whitesmoke;
   font-size: 45px;
   margin-left: 1vh;
 }

 .h2-home-page {
   color: whitesmoke;
   font-size: 45px;
   margin-left: 1vh;
 }
