// Specific CSS for your home-page
 .hello-title {
   color: #1E2CFB;
   font-size: 20px;
   margin-left: 10px;
   margin-bottom: 0px;
   margin-top: 4px;
   font-weight: 400;
 }

//  .h2-home-page {
//    color: whitesmoke;
//    font-size: 45px;
//    margin-left: 1vh;
//  }

 .hello-paragraph {
  color: #1E2CFB;
  font-size: 35px;
  text-align: left;
  margin-top: 30px;
  font-weight: 600;
  line-height: 42px;
 }

 .photo-name {
  display: flex;
  flex-direction: row;
 }

 .logout-icon {
  margin-left: auto;
 }
