.questions-title {
  color: #1E2CFB;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 4px;
  font-weight: 400;
}

.questions-paragraph {
  font-size: 15px;
  color: #1E2CFB;
  margin-bottom: 0px;
  margin-top: 20px;
  font-weight: 200;
}

.questions-form {
  margin: auto;
}

.foobarbaz {
  color: #1E2CFB;
  font-weight: 400;
  text-align: center;
  height: 100%;

  .text {
    color: #1E2CFB;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
  }

  textarea {
    line-height: 2.2;
  }

  .form-control {
    color: #1E2CFB;
    font-weight: 400;
    text-align: center;
    background-color: #F3D0FF;
    height: 8vh;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 6px;
    margin: auto;
    width: 300px;
    margin-bottom: 3px;
    border: 2px solid #1E2CFB;

    &::placeholder {
      color: #1E2CFB;
      text-align: center;
      background-color: transparent;
      text-align: center;
    }
    &:focus{
      box-shadow: none;
     }
     &:focus::placeholder {
      color: transparent;
      text-align: center;
    }

  }

  .postfix {
    border: none;
  }

  .btn {
    border: 2px solid #F0F643;
    font-weight: 500;
    color: #1E2CFB;
    background-color: #F0F643;
    border-radius: 6px;
    padding: 10px;
    width: 50%;
    height: 7vh;
  }

  .form-actions {
    display: flex;
    justify-content: center;
  }
}
