.title-index-job {
  color: #1E2CFB;
  font-family: "Sora", "sans-serif";
  font-size: 20px;
  margin-top: 30px;
  margin-left: 2px;
}

.title-index-company {
  color: #1E2CFB;
  font-family: "Sora", "sans-serif";
  margin-top: -16px;
  margin-left: 2px;
}

.skills {
  // border: 1px solid #1E2CFB;
  margin-left: 3px;
  margin-right: 2px;
  border-radius: 8px;
  padding: 7px;
  font-size: 12px;
  background-color: #EEEFFF;
  color: #1E2CFB;
}

.job-description {
  color: #1E2CFB;
  margin-left: -2px;
  margin-right: 2px;
  padding: 7px;
  font-size: 12px;
  text-align: justify;
}

.no-puce {
  list-style-type: none;
}
