
<div class="tab-bar text-center">
 <%= link_to root_path do %>
    <i class="fas fa-home"></i> <p>Home</p>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-user"></i>  <p>Profil</p>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-infinity"></i> <p>Offre</p>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-tasks"></i> <p>Dashboard</p>
  <% end %>
</div>
