
<div class="tab-bar text-center">
 <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-user"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-infinity"></i>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-tasks"></i>
  <% end %>
</div>
