
<div class="tab-bar text-center">
 <%= link_to root_path do %>
    <i class="fas fa-home"></i> <p>Home</p>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-user"></i>  <p>Profil</p>
  <% end %>
  <%= link_to root_path do %>
    <i class="fas fa-infinity"></i> <p>Offre</p>
  <% end %>
   <% unless @matches.nil?  %>
   <% @matches.each do |match| %>
    <% if match.status == true && match.callbooking == nil %>
     <div class= "div-notification">
      <div class= "button-notification"> 1 </div>
    <%#= link_to dashboard_path do %>
    <i class="fas fa-tasks"></i> <p>Dashboard</p>
      </div>
    <% end %>
  <% end %>
  <% end %>
</div>
