<div class="h-100 d-flex flex-column" style="background-color: #F3D0FF;">

  <svg class="logo-skilly" width="75%" height="55%" viewBox="0 0 465 443" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M262.961 140.104L137.84 140.403L237.962 265.873L355.37 259.611L262.961 140.104ZM240.42 260.4L178.782 183.156L241.34 183.034L300.877 257.176L240.42 260.4ZM243.902 177.745L174.576 177.875L148.89 145.682L260.407 145.418L345.014 254.839L307.432 256.844L243.902 177.745Z" fill="#1E2CFB"/>
    <path d="M275.204 101.423L68.6854 101.551L40.4636 143.68L200.391 350.551L399.351 337.463L428.469 294.027L275.204 101.423ZM47.016 143.445L70.2951 108.691L226.024 304.305L201.415 343.17L47.016 143.445ZM230.489 301.393L75.637 106.862L272.644 106.732L419.862 291.759L230.489 301.393ZM396.376 332.314L206.641 344.773L230.753 306.698L419.993 297.033L396.376 332.314Z" fill="#1E2CFB"/>
    <path d="M201.416 343.17L47.0163 143.445L70.2954 108.691L226.02 304.31L201.416 343.17Z" fill="#1E2CFB"/>
    <path d="M420.013 297.069L396.393 332.329L206.671 344.797L230.782 306.722L420.013 297.069Z" fill="#1E2CFB"/>
    <path d="M272.644 106.732L75.6372 106.862L230.525 301.422L419.892 291.783L272.644 106.732ZM237.962 265.873L137.84 140.403L262.961 140.104L355.37 259.611L237.962 265.873Z" fill="#54FFC4"/>
    <path d="M344.972 254.843L307.389 256.848L243.859 177.749L174.534 177.879L148.847 145.686L260.364 145.422L344.972 254.843Z" fill="#1E2CFB"/>
    <path d="M372.594 116.581L370.933 115.159V114.96H370.734L301.786 56L232 58.9821L243.831 200.172L370.69 117.825H371.054V117.606L372.594 116.581ZM300.794 58.8767L366.557 115.155L308.212 117.517L237.389 61.6035L300.794 58.8767ZM246.136 194.013L235.197 63.4754L305.741 119.182L246.136 194.013ZM251.566 191.756L308.451 120.345L365.11 118.052L251.566 191.756Z" fill="#1E2CFB"/>
    <path d="M366.557 115.155L308.217 117.517L237.393 61.5914L300.794 58.8767L366.557 115.155Z" fill="#1E2CFB"/>
    <path d="M365.111 118.052L251.566 191.756L308.452 120.345L365.111 118.052Z" fill="#F2FF43"/>
    <path d="M305.749 119.182L246.136 194.013L235.205 63.4754L305.749 119.182Z" fill="#F2FF43"/>
  </svg>

  <h1 class="logo-name-app">Skilly.</h1>

    <div class="container-signup align-items-center">

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html=> { class: 'form-login' }) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, label: false, placeholder: 'Email',
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password, label: false, placeholder: 'Password',
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "yellow-btn mt-3" %>


        </div>

      <% end %>
    </div>
</div>
