.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-design{
  background: white;
  border-radius: 27px;
  border: 1px solid #1E2CFB;
  width: 296px;
}

.swal-button{
  background-color: #F3D0FF;
  border: 1px solid  #53FFC4;
  border-radius: 38px;
  color: #1E2CFB;
  font-size: 16px;
}

.swal-text{
  font-size: 39px;
  color: #1E2CFB;
}

.swal-overlay{
  background-color: #FFFFFF;
}


