.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-design{
  background: #F7F7F7;
  border-radius: 27px;
  border: 1px solid #1E2CFB;
  width: 296px;
}

.swal2-title{
  display: block !important;
  color: #1E2CFB !important;
  margin-top: -38px !important;
  font-size: 36px !important;
  margin-top: 110px !important;
}

.swal2-styled.swal2-confirm {
  color: #1E2CFB !important;
  background-color: #F3D0FF !important;
  font-size: 1em;
  width: 111px;
  height: 48px;
  border-radius: 12px !important;
}

.swal2-html-container{
  color: #1E2CFB !important;
  font-size: 13px !important;
  overflow: hidden !important;
}

.swal-overlay{
  background-color: #F7F7F7;
}
.swal2-popup {
  position:relative;
  border-radius: 15px !important;
  border-radius: 15px !important;
  background-color: #EDEFFE !important;
  max-width: 94% !important;
}
.swal2-popup::before {
  background-image: url(https://files.helpdocs.io/zqc32mkmew/logo.png?t=1608128023138);
  background-size: 88px 88px;
  color: transparent;
  width: 88px;
  height: 88px;
  content: 'some content';
  position: absolute;
  left: 48%;
  top: 32px;
}

.swal2-image{
  position: absolute;
  left: 28%;
  top: 0px;
  border-radius: 100%;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
  background: #f9fafbcc !important;
  backdrop-filter: blur(2px) !important;
}

.swal2-container.swal2-center>.swal2-popup {
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  width: 298px;
  height: 328px;
}
