.avatar-large {
  width: 56px;
  border-radius: 50%;
}

.avatar-head {
  width: 78px;
  border-radius: 50%;
  margin-top: 10px;
}

.avatar-profil {
  width: 78px;
  border-radius: 50%;
  margin-top: 10px;
}
