.my-button {
  color: #2A4AFB;
  padding: 10px 20px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: auto;
  display: grid;
  font-size: 35px;
}

.my-button:hover {
  opacity: 1;
}

.btn-call {
  color: #fff;
  background-color: #8385ee;
  border-color: #6a7ad3;
  border-radius: 30px;
  margin-bottom: 15px;
  font-family: "Sora", "sans-serif";
}

.modal-body {
  position: relative;
  flex: -2 1 auto;
  padding: 3rem;
  top: -7px;
  left: 5px;
  margin-top: -40px;
}

.btn-secondary{
  color: #1E2CFB;
  background-color: #F3D0FF;
  border-radius: 6px;
  border: 2px solid #F3D0FF;
  margin-left: 220px;
  margin-top: 20px
}

.btn-outline-primary{
  color: black;
  background-color: pink;
}

.btn-primary{
  color: purple;
  background-color: antiquewhite;
}

.btn-delete{
  background-color: red;
}

.btn-user-show {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-book{
  color: #1E2CFB;
  border-color: #6a7ad3;
  border: 2px solid #1E2CFB;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  margin: 20px 0;
}

.btn-info-swipe {
  position: absolute;
  z-index: 10000;
  bottom: 100px;
  color:red;
}

.btn-delete{
  color: red;
  border: red 1px solid;
  background: transparent;
}
