.my-button {
  color: whitesmoke;
  border: 1px solid whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: auto;
  display: grid;
}

.my-button:hover {
  opacity: 1;
}

.btn-call {
  color: #fff;
  background-color: #8385ee;
  border-color: #6a7ad3;
  border-radius: 30px;
  margin-bottom: 15px;
}

.modal-body {
  position: relative;
  flex: -2 1 auto;
  padding: 3rem;
  top: -7px;
  left: 5px;
  margin-top: -12px;
  margin-bottom: -31px;
}

.btn-secondary{
  color: black;
  background-color: pink;
}

.btn-outline-primary{
  color: black;
  background-color: pink;
}

.btn-primary{
  color: purple;
  background-color: antiquewhite;
}

.btn-delete{
  background-color: red;
}

.btn-user-show {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-book{
  color: #fff;
  background-color: #8385ee;
  border-color: #6a7ad3;
  border-radius: 30px;
  margin-bottom: 15px;
  text-align: center;
  padding-left: -24px;
  padding-right: 2px;
  margin-right: 19px;
  padding-top: 7px;
  padding-bottom: 4px;
}
