.simple-calendar {
  background-color: #F7F7FF;
  padding: 20px;
  margin: 10px;
  border-radius: 30px;
}

.simple-calendar .day {
  height: 45px;
  background-color: #F7F7FF;
  color: #1E2CFB;
}

.simple-calendar table {
  border: none;
}

.simple-calendar th {
  color: #1E2CFB ;
  border-top: none;
  border-left: none;
  border-right: none;
}

.table {
--bs-table-bg: transparent;
--bs-table-accent-bg: transparent;
--bs-table-striped-color: #1E2CFB;
--bs-table-striped-bg: rgba(199, 73, 238, 0.05);
--bs-table-active-color: #1E2CFB;
--bs-table-active-bg: rgba(0, 0, 0, 0.1);
--bs-table-hover-color: #1E2CFB;
--bs-table-hover-bg: rgba(0, 0, 0, 0.075);
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #1BCB7F;
  color: white;
}

.calendar-heading{
  .fas {
    font-size: 30px;
    color: #1E2CFB;
  }
}

.month {
  font-size: 25px;
  color: #1E2CFB;
}
