.container-name-app {
  display: flex;
  height: 60px;
  margin-top: 200px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 65px;
  font-family: "Nunito", "sans-serif";
  text-shadow: 1px 1px 2px #bebe84;
}

.container-signup {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .1);
  width: 280px;
  border: 2px solid whitesmoke;
  background: rgba(0, 0, 0, 0);
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.container-screen{
  min-height: 100vh;
}

.container-body {
  height: 96vh;
  overflow: scroll;
}

.container-tab-bar {
  height: 4vh;
}

.container-head {
  display: flex;
   justify-content: space-around;
}

.container-skill {
 display: flex;
 justify-content: space-around;
 text-align: center;
 align-items: center;
 align-self: center;
}

.container-like {
  display: flex;
  justify-content: space-around;
}


.container-li {
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;

  .container-home-page {
    margin-top: 8vh;
  }
}
.container-profil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.intro {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values-languages {
  height: 20%;
}

.skills {
  height: 45%;
}

.values {
  border: 1px solid grey;
  border-radius: 25px;
  align-self: center;
  padding: 10px 30px;
  margin-bottom: 15px;
}

.language-each {
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 5px 8px;
  margin-bottom: 15px;
}
