.wrapping-container {
  min-height: calc(100vh - 150.5px);
}

.container-wrapping-login {
  position: absolute;
  bottom: 25vh;
  width: 100%;
}

.container-wrapping-sign {
  position: absolute;
  bottom: 15vh;
  width: 100%;
}

.container-signup {
  background: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .1);
  margin-top: 10vh;
}

.container-screen{
  min-height: 100vh;
}

.container-body {
  height: 92vh;
  overflow: scroll;
}

.container-tab-bar {
  height: 8vh;
}
