.container-signup {
  width: 280px;
  margin: auto;
  padding: 15px;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container-screen{
  // height: 100vh;
  // overflow: hidden;
  height: 100vh;
}

.container-head {
  display: flex;
  justify-content: space-around;
  margin-left: 7px;
}

.container-skill {
  text-align: center;
  align-items: center;
  align-self: center;
  margin-top: -4px;
  border: 2px solid #1E2CFB;
  background-color: #F3D0FF;
  border-radius: 6px;
  margin-bottom: 7px;
}

.container-like {
  display: flex;
  justify-content: space-around;
}

.container-li {
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;

  .container-home-page {
    margin-top: 8vh;
  }
}
.container-profil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 35px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 50px 35px;
}

.form-container {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  div {
    width: 100%;
  }
}

.container-follow-3 {
  padding: 5px 0;
}
