.navbar-footer{
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: inherit
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
