.navbar-skilly {
  justify-content: space-between;

}

.navbar-skilly .navbar-collapse {
  flex-grow: 0;
}

.navbar-skilly .navbar-brand img {
  width: 40px;
}

.navbar-skilly .nav-link a {
  color: black;
}

.logo {
  color: white;
  text-shadow: 1px 1px 2px rgb(248, 210, 217);

}

a {
  color: inherit;
  text-decoration: inherit
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
