.form-inline {
  background-color: none;
  border: 2px solid #F3D0FF;
  border-radius: 10%;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;

  .form-control {
    color: #1E2CFB;
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    height: 8vh;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 5px;

    &::placeholder {
      color: #1E2CFB;
      text-align: center;
      background-color: transparent;
    }

    &:focus{
      box-shadow: none;
     }
  }

  .postfix {
    border: none;
  }

  .yellow-btn {
    border: 2px solid #F0F643;
    font-weight: bold;
    color: #1E2CFB;
    background-color: #F0F643;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: 8vh;

  }

  .form-actions {
    display: flex;
    justify-content: center;
  }
}



// .search-bar {
//   border: 2px solid whitesmoke;
//   background: rgba(0, 0, 0, 0);
//   border-radius: 50px;
//   color: whitesmoke;
//   width: 400px;
//   div {
//     margin: 0 !important;
//   }
// }

// .form-inline {
//   background-color: #F3D0FF;


//   .form-control {
//     // border: 2px solid #1E2CFB;
//     margin: 0;
//     color: #1E2CFB;
//     background-color:#F3D0FF ;

//     &::placeholder {
//       color: #1E2CFB;
//       text-align: left;
//     }
//   }
//   .yellow-btn {
//     border: 1px solid #1E2CFB;
//     color: #1E2CFB;
//     background-color: #F0F643;
//     border-radius: 50px;
//     padding: 10px;
//     // width: 22%;
//     // height: 100%;
//     width: 18vh;
//     height: 8vh;

//   }

//   .form-actions {
//     display: flex;
//     justify-content: center;
//   }
// }
